body{
    font-family : Arial, sans-serif;
    font-weight: 400;
    margin-top: 200;
    background-color: white;
}


 .fnoir{
    background-image:url(./img/commerce.jpg);
    margin-left: -1%;
    margin-right: -1%;
}


h1{
    margin-top: -0.7%;
    
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    text-decoration: underline; 
    color: white;
    
    
}
h2{
    text-align: center;
    background-color: grey;
    margin-top: -2%;
    margin-left: -1%;
    margin-right: -1%;
}

p{  
    padding: 10px 20px;
    text-align: center;
    display: inline;  
    margin-left: 30%;
}

.box {

    width: auto;
    height: 100px;
    margin-top: -1%;
    border: 3px solid black;
    padding: 10px;
    font-size: 150%;
    background-color: #D3D3D3;
    padding-top: 2%;
    
}

.p{
    padding-top: 25%;
}
