body{
    font-family : Arial, sans-serif;
    background-color: white;
   
}


 .fnoir{
    background-image:url(./img/commerce.jpg);
    margin-left: -1%;
    margin-right: -1%;

}

h1{
    margin-top: -4%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    text-decoration: underline; 
    color: white;
    
    
}

h2{
    text-align: center;
    background-color: grey;
    margin-top: -2%;
    margin-left: -1%;
    margin-right: -1%;
}

h3{
    text-align: center;
}


table,td {
    width: 50%;
    border: 3px solid #333;
    border-collapse : collapse;
    padding-top: 1%;
    padding-bottom: 1%;
    
   
}

.td2{
    width: 2%;
}

.droite{
    margin-left: 33%;
}

.droite2{
    margin-left: 40%;
}

.droite3{
    text-align: center;
}