body{
    font-family : Arial, sans-serif;
    background-color: white;
   
}


 .fnoir{
    background-image:url(./img/commerce.jpg);
    margin-left: -1%;
    margin-right: -1%;

}

h1{
    margin-top: -2%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    text-decoration: underline; 
    color: white;
    
    
}

h2{
    text-align: center;
    background-color: grey;
    margin-top: -2%;
    margin-left: -1%;
    margin-right: -1%;
}

h3{
    text-align: center;
}


.box {
    width: 300px;
    height: 400px;
    border: 5px solid black;
    border-radius: 5%;
    margin: 0 auto;
    padding: 10px;
    background-color: #D3D3D3
}

.bu {
    text-align: right;
}

.erreur{
    font-size: 75%;
    color: red;
}