body{
    font-family : Arial, sans-serif;
    background-color: white;
}


 .fnoir{
    background-image:url(./img/commerce.jpg);
    margin-left: -1%;
    margin-right: -1%;
}

h1{
    margin-top: -0.7%;
    
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    text-decoration: underline; 
    color: white;
}
h2{
    text-align: center;
    background-color: grey;
    margin-top: -2%;
    margin-left: -1%;
    margin-right: -1%;
}

h3{
    text-align: center;
}

.box {
    
    width: 350px;
    height: 300px;
    border: 5px solid black;
    border-radius: 5%;
    margin: 0 auto;
    background-color: #D3D3D3;
    padding-top: 25px;
    padding-left: 1%;
}

.boutonmodif{
    text-align: right;
}

.paddtop{
    padding-top: 25px;
    padding-right: 50px;
}
.box2 {
    width: 500px;
    height: 350px;
    border: 5px solid black;
    border-radius: 5%;
    margin: 0 auto;
    padding: 10px;
    background-color: #D3D3D3
}

.erreur{
    font-size: 75%;
    color: red;
}