body{
    font-family : Arial, sans-serif;
    background-color: white;
   
}

 .fnoir{
    background-image:url(./img/commerce.jpg);
    margin-left: -1%;
    margin-right: -1%;

}


h1{
    margin-top: -2%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    text-decoration: underline; 
    color: white;
    
    
}

h2{
    text-align: center;
    background-color: grey;
    margin-top: -2%;
    margin-left: -1%;
    margin-right: -1%;
}



.box {
    width: auto;
    height: 300px;
    margin-top: -1%;
    border: 3px solid black;
    font-size: 150%;
    background-color: #D3D3D3;
    
}

.lab{
    margin-top: 5%;
    margin-left: 32.5%;
}
.lab2{
    padding-left: 2%;
}
.bu {
    text-align: center;
    margin-top: 5%;
    margin-left: 42.5%;
}
.ins{
    text-align: center;   
    margin-top: 2%;
}
.erreur{
    font-size: 75%;
    color: red;
}