body{
    font-family : Arial, sans-serif;
    background-color: white ;
}

h1{
    margin-top: -3%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    text-decoration: underline; 
    color: white;
    
    
}

h2{
    text-align: center;
    background-color: grey;
    margin-top: -2%;
    margin-left: -1%;
    margin-right: -1%;
}

h3{
    text-align: center;
}
div {
    text-align: left  ;
    padding: 10px 0px 10px 0px;
}

.fnoir{
    background-image:url(./img/commerce.jpg);
    margin-left: -1%;
    margin-right: -1%;

}

.bu {
    text-align: right;
}

.box {
    width: 300px;
    height: 500px;
    border: 5px solid black;
    border-radius: 5%;
    margin: 0 auto;
    padding: 10px;
    background-color: #D3D3D3
}

.erreur{
    font-size: 75%;
    color: red;
}