body{
    font-family : Arial, sans-serif;
    background-color: white ;
}

h1{
    margin-top: -2%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    text-decoration: underline; 
    color: white;
    
    
}

h2{
    text-align: center;
    background-color: grey;
    margin-top: -2%;
    margin-left: -1%;
    margin-right: -1%;
}

h3{
    text-align: right;
}

.pr{
    font-size: 200%;
    text-decoration: underline;
}

.fnoir{
    background-image:url(./img/commerce.jpg);
    margin-left: -1%;
    margin-right: -1%;

}
.inline{
    float: left;
    padding-right: 5%;
}

.pad {
    padding-top: 1%;
    text-align: right;
}



.droit{
    text-align: right;
    font-size: 135%;
}

table,td {
    width: 100%;
    border: 3px solid #333;
    border-collapse : collapse;
    padding-top: 1%;
    padding-bottom: 1%;
   
}

.td2{
    width: 50%;
}

.caddie{
    width: auto;
    height: auto;
    border: 3px solid black;
    margin-top: 15px;
    padding-top: 25%;
    padding: 10px;
    background-color: #D3D3D3;
}