
body{
    font-family : Arial, sans-serif;
    background-color: white;
   
}

.box {

    width: 500px;
    height: 100px;
    margin: 20% auto;
    border: 3px solid black;
    padding: 10px;
    padding-left: 10%;
    font-size: 150%;
    background-color: #D3D3D3;
}

.b{
    margin-left: 6%;
}